useDynLib(gemmR)
exportPattern("^[[:alpha:]]+")
importFrom("Rcpp", "evalCpp")
importFrom("grDevices", "rainbow")
importFrom("graphics", "legend", "lines", "par", "plot", "title")
importFrom("stats", "AIC", "as.formula", "coef", "coefficients",
             "delete.response", "fitted", "fitted.values", "lm",
             "logLik", "model.frame", "model.matrix", "model.response",
             "nobs", "residuals", "runif", "terms", "weighted.residuals")
S3method(print, gemm)
S3method(deviance, gemm)
S3method(logLik, gemm)
S3method(nobs, gemm)
S3method(plot, gemm)
S3method(predict, gemm)
S3method(print, gemm)
S3method(print, summary.gemm)
S3method(summary, gemm)
S3method(gemm, formula)
S3method(gemm, default)